<div class="option-list">
    <div class="verb-title">{{verb}}</div>
    <ul class="list">
        <li
            class="option-item"
            [ngClass]="{
                'correct': clickedId !== null && option.isCorrect,
                'wrong': clickedId === option.id && !option.isCorrect,
                'selectable': clickedId === null
            }"
            *ngFor="let option of options"
            (click)="onOptionItemClick(option.id)"
        >
            {{option.text}}
        </li>
    </ul>
</div>
